<h1 class="text-center">XmltoSvg Prototype</h1>
<div class="row mt-3 ml-2 m-0">
    <div class="col">
        <h3>Opciones: </h3>
    </div>
    <div class="col">
        <input #algoBasico type='file' class="btn btn-success" accept='text/xml' onchange='openFile(event)'>
    </div>
    <div class="col">
        <button class="btn btn-success" (click)="onClick()">Generar árbol</button>
    </div>
</div>
<br>


<div class="row m-0 mx-1">
    <div class="col-4">
        <h4>XML:</h4>
        <textarea id="xmlArea" cols="40" rows="10">
            Seleccione archivo...                        
        </textarea>
    </div>
    <div class="col-4">
        <h4>JSON:</h4>
        <textarea #jsonFeature
          		  id="jsonArea"
          		  cols="40"
          		  rows="10">  		  	
	  	</textarea>
    </div>
    <div class="col-4">
        <h4>Datos importantes:</h4>
        <textarea id="jsonArea2" cols="40" rows="10"></textarea>
    </div>
</div>
<div class="row m-0">
    <div class="col text-center" id="svgdiv">
        <div id="svgcanvas"></div>
    </div>
</div>

<div>
	<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
	    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <mat-checkbox class="checklist-leaf-node"
                        [disabled]="deshabilitarMandatory(node) || deshabilitarXOR(node) || deshabilitarNodo(node)"
                        [checked]="checklistSelection.isSelected(node)"
                        (change)="seleccionarNodo(node)">
                        {{node.item}}
            </mat-checkbox>
        </mat-tree-node>

	    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>	    
            <mat-checkbox *ngIf="node.level !== 0"
                        [disabled]="deshabilitarMandatory(node) || deshabilitarXOR(node) || deshabilitarNodo(node)"
                        [checked]="checklistSelection.isSelected(node)"
                        [indeterminate]="validacionInicial(0)"
                        (change)="seleccionarNodo(node)">
                        {{node.item}}
            </mat-checkbox>
            <span *ngIf="node.level === 0">
                {{node.item}}
            </span>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.filename">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <span *ngIf="node.alerta !== null" style="color: red">{{node.alerta}}</span>
        </mat-tree-node>
	</mat-tree>

    <div *ngIf="arbolValido !== null">
        <button class="btn btn-success pointer"
                (click)="descargarJSON()"
                [disabled]="!arbolValido">
                Descargar JSON
        </button>
        <span *ngIf="!arbolValido">
            La configuración no es válida, revisar selección
        </span>
    </div>

    <button *ngIf="arbolValido"
            class="btn btn-success pointer"
            (click)="exportarReglas()">
            Exportar reglas
    </button>
    
    
    <div *ngIf="require.length > 0"
         class="restricciones">
        <span class="negrita">Restricciones "Requiere"</span>
        <div *ngFor="let req of require;">
            La característica {{req.destino}} requiere a la característica {{req.origen}}
        </div>
    </div>
    
    <div *ngIf="exclude.length > 0"
         class="restricciones">
        <span class="negrita">Restricciones "Excluye"</span>
        <div *ngFor="let exc of exclude;">
            La característica {{exc.origen}} excluye a la característica {{exc.destino}}        
        </div>
    </div>

    <div *ngIf="jsonEstadisticas"
         class="restricciones">
        RESUMEN DE MODELO DE CARACTERÍSTICAS
        
        <div>
            <span class="negrita">Características: </span> {{jsonEstadisticas.cantidad}}
            <br>
            <span class="negrita">Obligatorios: </span> {{jsonEstadisticas['Mandatory'] ? jsonEstadisticas['Mandatory'] : 0}}
            <br>
            <span class="negrita">Opcionales: </span> {{jsonEstadisticas['Optional'] ? jsonEstadisticas['Optional'] : 0}}
            <br>
            <span class="negrita">XOR: </span> {{jsonEstadisticas['XOR'] ? jsonEstadisticas['XOR'] : 0}}
            <br>
            <span class="negrita">OR: </span> {{jsonEstadisticas['OR'] ? jsonEstadisticas['OR'] : 0}}
            <br>
            <span class="negrita">Excluye: </span> {{jsonEstadisticas['Excludes'] ? jsonEstadisticas['Excludes'] : 0}}
            <br>
            <span class="negrita">Requiere: </span> {{jsonEstadisticas['Requires'] ? jsonEstadisticas['Requires'] : 0}}
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<simple-notifications [options]="options"></simple-notifications>